<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <h5>My Projects</h5>
      </div>
      <div class="row mb-2 col-12">
        <div class="col-3">Role:</div>
        <!-- <div class="col-3"><input type="radio" name="emp-role" [(ngModel)]="empRole" (ngModelChange)="getEmpValue()" value="1">Employee</div> -->
        <div class="col-3"><input type="radio" name="emp-role" [(ngModel)]="empRole" (ngModelChange)="getEmpValue()" value="2">Manager</div>
        <div class="col-3"><input type="radio" name="emp-role" [(ngModel)]="empRole" (ngModelChange)="getEmpValue()" value="3">PMO</div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <p-table [columns]="selectedCols" [value]="myProjects">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
            <th>Action</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              {{ rowData[col.field] }}
            </td>
            <td><button class="btn btn-outline btn-primary" (click)="showProjectDetails(rowData)">View Details</button></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </section>
</div>