<!-- <div class="card shadow m-4 mt-0">
    <div class="card-header">
        <div class="mb-0 d-flex">
            <h5 class="w-100 mb-0 align-self-center">Search Criteria</h5>
        </div>
    </div>
    <div class="collapse show">
        <div class="card-body pt-1 pb-1 mb-3">
            <form [formGroup]="searchCriteria" class="form llw-export-form">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-md">
                                        <label class="mx-0">Project Name</label>
                                        <p-multiSelect formControlName="projectList" [options]="projectsList"
                                            placeholder="Select Project" optionLabel="name"
                                            optionValue="projectId"></p-multiSelect>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md ">
                                        <label class="mx-0">Allocation</label>
                                        <p-dropdown formControlName="allocation" [options]="allocation"
                                            placeholder="Select allocation"></p-dropdown>
                                    </div>
                                    <div class="col-12 col-sm-6 col-md ">
                                        <label class="mx-0">Billable Status</label>
                                        <p-dropdown formControlName="billableStatus" [options]="billableStatusList"
                                            placeholder="Select allocation"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 align-items-end d-flex justify-content-start">
                                <div class="row mt-1 ms-0">
                                    <div class="col-12 text-center retrieve-clear px-0">
                                        <button (click)="fetchBatchRecords()" type="submit"
                                            class="btn btn-success me-3">
                                            <span class="btn-icn">
                                                <span class="fas fa-search"></span>
                                            </span>
                                            <span class="btn-text">Retrieve</span>
                                        </button>
                                        <button type="button" (click)="resetForm()" class="btn btn-danger me-3">
                                            <span class="btn-icn">
                                                <span class="fas fa-redo-alt"></span>
                                            </span>
                                            <span class="btn-text">Clear</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->

<div class="row mx-4 p-0">
    <div class="col-12 text-end p-0">
        <button class="btn btn-success w-auto" (click)="addEmployee()">Add Employee</button>
    </div>
</div>

<div class="card m-4">
    <div class="col-12">
        <p-table [columns]="columns" [value]="resourceData" [globalFilterFields]="['EmpID','EmployeeName']" responsiveLayout="scroll">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        <div class="d-flex justify-content-center align-items-center">
                            {{ col.header }}
                            <p-columnFilter [showMatchModes]="false" [showOperator]="false" [showAddButton]="false"
                                matchMode="in" type="text" [field]="col.field" display="menu">
                                <ng-template pTemplate="header">
                                    <div class="p-px-3 p-pt-3 p-pb-0">
                                        <span class="p-text-bold">Select</span>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-multiSelect [ngModel]="value" [options]="getOptions(col.field)" placeholder="Any"
                                        (onChange)="filter($event.value)">
                                        <ng-template let-option pTemplate="item">
                                            <div class="p-multiselect-representative-option">
                                                <span class="p-ml-1">{{option}}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{ rowData[col.field] }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>