<form [formGroup]="empForm">
  <div class="row mb-4">
    <label class="col-12">Search Employee by Name or Skill</label>
    <p-autoComplete 
      formControlName="selectedEmp" 
      [suggestions]="filteredEmp" 
      (completeMethod)="filterEmp($event)" 
      field="name"
      [forceSelection]="true"
      (onSelect)="emitSelected($event)">
    </p-autoComplete>
  </div>

  <div class="row mb-4">
    <div class="col-6">
      <label class="col-12">Select Project</label>
      <p-dropdown formControlName="projectId" [options]="projectsList"
        placeholder="Select Project" optionLabel="name"
        optionValue="projectId"></p-dropdown>
    </div>
    <div class="col-6">
      <label class="col-12">Allocation</label>
      <p-inputNumber suffix="%" formControlName="allocationPercent" inputId="minmax" mode="decimal" [min]="0" [max]="100"> </p-inputNumber>
    </div>
  </div>
  
  <div class="row mb-4">
    <div class="col-6">
      <label class="col-12">From Date</label>
      <p-calendar appendTo="body" formControlName="fromDate"></p-calendar>
    </div>
    <div class="col-6">
      <label class="col-12">Till Date</label>
      <p-calendar appendTo="body" formControlName="tillDate"></p-calendar>
    </div>
  </div>
  
  <div class="row mb-4">
    <div class="col-12">Comment</div>
    <div class="col-12">
      <textarea class="w-100" placeholder="Type here..." formControlName="comment"></textarea>
    </div>
  </div>

  <div class="col-12 text-center">
    <button [disabled]="empForm.invalid" type="button" class="btn btn-success" (click)="request()">Submit</button>
  </div>
</form>